<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="姓名/手机号" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入姓名/手机号" class="handle-input" @blur="search"></el-input>
          </el-form-item>
          <el-form-item label="创建时间">
              <el-form-item prop="startTime">
                <el-date-picker
                  v-model="searchform.startTime"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="开始时间"
                ></el-date-picker>
              </el-form-item>
              <el-form-item prop="endTime">
                <el-date-picker
                  v-model="searchform.endTime"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="结束时间"
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          <el-button type="primary" icon="search" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-container">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" @click="handleAdd">添加人员</el-button>
        <el-button type="primary" @click="handleExport" v-show="false">导出激活码</el-button>
        <el-button type="primary" @click="handleImport">导入白名单</el-button>
        <el-button type="primary" @click="handleDownload">下载模板</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="name" label="姓名" width="100"></el-table-column>
        <el-table-column prop="roleName" label="角色" width="100">
          <template slot-scope="scope">{{ scope.row.roleName == '' ? '无': scope.row.roleName}}</template>
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="200">
          <template slot-scope="scope">{{ scope.row.phone == '' ? '无': scope.row.phone}}</template>
        </el-table-column>
        <el-table-column prop="idCard" label="身份证号" width="220">
          <template slot-scope="scope">{{ scope.row.idCard == '' ? '无': scope.row.idCard}}</template>
        </el-table-column>
         <el-table-column prop="email" label="邮箱" width="220">
          <template slot-scope="scope">{{ scope.row.email == '' ? '无': scope.row.email}}</template>
        </el-table-column>
        <el-table-column prop="birthday" label="生日" width="220">
          <template slot-scope="scope">{{ scope.row.birthday == '' ? '无': scope.row.birthday}}</template>
        </el-table-column>
        <el-table-column prop="jobNumber" label="工号" width="220">
          <template slot-scope="scope">{{ scope.row.jobNumber == '' ? '无': scope.row.jobNumber}}</template>
        </el-table-column>
        <el-table-column prop="studentId" label="学号" width="220">
          <template slot-scope="scope">{{ scope.row.studentId == '' ? '无': scope.row.studentId}}</template>
        </el-table-column>
        <el-table-column prop="createName" label="创建人" width="120"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" sortable width="200"></el-table-column>
        <el-table-column label="掌静脉状态" width="100" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              disabled
              v-show="scope.row.status === 1"
            >已激活</el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              v-show="scope.row.status === 0"
              @click="handleActive(scope.$index, scope.row)"
            >激活</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="150" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-delete"
              class="red"
              v-show="scope.row.type !== 1"
              @click="handleDel(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加活动 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="50%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules" :inline="true">
        <el-form-item label="姓名" prop="name">
          <el-input v-model="addform.name" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="addform.phone" placeholder="请输入手机号" class="handle-input"></el-input>
        </el-form-item>
         <el-form-item label="选择角色" prop="roleId">
          <el-select v-model="addform.roleId" placeholder="请选择角色" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in roleData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="身份证" prop="idCard">
          <el-input v-model="addform.idCard" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="addform.email" placeholder="请输入邮箱" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="工号" prop="jobNumber">
          <el-input v-model="addform.jobNumber" placeholder="请输入工号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="学号" prop="studentId">
          <el-input v-model="addform.studentId" placeholder="请输入学号" class="handle-input"></el-input>
        </el-form-item>
       
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="50%" @close="closeDialog('editform')">
      <el-form
        ref="editform"
        :model="editform"
        label-width="100px"
        :rules="rules"
        :inline="true"
      >
      <el-form-item label="姓名" prop="name">
          <el-input v-model="editform.name" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="选择角色" prop="roleId">
          <el-select v-model="editform.roleId" placeholder="请选择角色" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in roleData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="editform.phone" :disabled="isAdmin" placeholder="请输入手机号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="身份证" prop="idCard">
          <el-input v-model="editform.idCard" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="editform.email" placeholder="请输入邮箱" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="工号" prop="jobNumber">
          <el-input v-model="editform.jobNumber" placeholder="请输入工号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="学号" prop="studentId">
          <el-input v-model="editform.studentId" placeholder="请输入学号" class="handle-input"></el-input>
        </el-form-item>
        
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 导入白名单 -->
    <el-dialog
      title="导入白名单"
      :visible.sync="importVisible"
      width="50%"
      @close="closeDialog('importform')"
    >
      <el-form ref="importform" :model="importform" label-width="100px" :rules="importrules">
        <el-form-item label="选择角色" prop="roleId">
          <el-select v-model="importform.roleId" placeholder="请选择角色" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in roleData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选取文件">
          <el-upload
            class="upload-demo"
            ref="upload"
            :limit="1"
            :on-exceed="handleExceed"
            action=""
            :on-remove="handleRemove"
            :auto-upload="false"
            :http-request="upLoad"
            drag
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
          </el-upload>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="importVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveImport('importform')">上 传</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    let regIdk = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    let regPhone = /^1\d{10}$/;
    let validateIdk = (rule, value, callback) => {
      if (value) {
        if (!regIdk.test(value)) {
          callback(new Error('身份证号不合法'));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号不合法'));
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: "",
        startTime: "",
        endTime: ""
      },
      searchResult: {
        name: "",
        startTime: "",
        endTime: ""
      },
      editVisible: false,
      addVisible: false,
      exportVisible: false,
      importVisible: false,
      addform: {
        isUse: 1,
        path: "",
        name: "",
        roleId: "",
        phone: "",
        email: "",
        jobNumber: "",
        studentId: "",
        idCard: ""
      },
      rules: {
        name: [{ required: true, message: "姓名不能为空", trigger: "blur" }],
        idCard: [
          { validator: validateIdk, trigger: "blur", trigger: ['blur', 'change'] }
        ],
        phone: [
          { validator: validatePhone, trigger: "blur", required: true}
        ],
        roleId: [{ required: true, message: "请选择角色", trigger: "blur" }],
        email: [
          { message: '请输入邮箱地址', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
        ]
      },
      roleData: [],
      editform: {
        isUse: 1,
        path: "",
        name: "",
        roleId: "",
        phone: "",
        email: "",
        jobNumber: "",
        studentId: "",
        idCard: ""
      },
      delVisible: false,
      rowId: 0,
      importform: {
        roleId: ""
      },
      importrules: {
        roleId: [{ required: true, message: "请选择角色", trigger: "change" }]
      },
      isAdmin: false
    };
  },
  computed: {
    ...mapGetters(["adminId", "companyId", "isUpdate"]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  watch: {
    isUpdate: {
      handler (val, old) {
        if (val) {
          this.submitData()
        }
      }
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.roleList();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      if (this.searchform.endTime &&  this.searchform.startTime) {
        let start = Date.parse(new Date(this.searchform.startTime));
        let end = Date.parse(new Date(this.searchform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
          return 
        }
      }
      this.page = 1;
      this.searchResult = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchResult = this.searchform;
    },
    submitData() {
      this.axios
        .post("/userInfo/SelectAll.do", {
          page: this.page,
          limit: this.limit,
          name: this.searchResult.name,
          beginTime: this.searchResult.startTime,
          endTime: this.searchResult.endTime,
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleActive (index, row) {
      this.$store.commit({
        type: 'startRegist',
        userId: row.id
      })
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/userInfo/Insert.do", {
              isUse: this.addform.isUse,
              name: this.addform.name,
              roleId: this.addform.roleId,
              phone: this.addform.phone,
              email: this.addform.email,
              jobNumber: this.addform.jobNumber,
              studentId: this.addform.studentId,
              idCard: this.addform.idCard,
              userId: this.adminId,
              companyId: this.companyId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      this.editform.isUse = row.type;
      this.editform.name = row.name;
      this.editform.roleId = row.roleId === 0 ? "" : row.roleId;
      this.editform.phone = row.phone;
      this.editform.email = row.email;
      this.editform.jobNumber = row.jobNumber;
      this.editform.studentId = row.studentId;
      this.editform.idCard = row.idCard;
      this.rowId = row.id;
      this.editVisible = true;
      if (row.type === 1) {
        this.isAdmin = true;
      }
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/userInfo/Update.do", {
              id: this.rowId,
              isUse: this.editform.isUse,
              name: this.editform.name,
              roleId: this.editform.roleId,
              phone: this.editform.phone,
              email: this.editform.email,
              jobNumber: this.editform.jobNumber,
              studentId: this.editform.studentId,
              idCard: this.editform.idCard,
              userId: this.adminId,
              companyId: this.companyId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    roleList() {
      //设备型号列表
      this.axios
        .post("/roleInfo/SelectTree.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          this.roleData = result_data;
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this.isAdmin = false;
    },
    changeStatus(row) {
      // 保存编辑
      this.axios
        .post("/userInfo/Update.do", {
          id: row.id,
          isUse: row.isUse,
          userId: this.adminId,
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
          setTimeout(() => {
            this.submitData();
          }, 50);
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleDel(index, row) {
      this.rowId = row.id;
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/userInfo/Delete.do", {
          id: this.rowId,
          userId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleExport() {
      window.location.href =
      "/userInfo/downloadUserCode.do?companyId=" +
      this.companyId +
      "&beginTime=" +
      this.searchResult.startTime +
      "&endTime=" +
      this.searchResult.endTime +
      '&_time=' + (new Date()).getTime(); 
      
    },
    upLoad (file) {
      let param = new FormData()  // 创建form对象
      param.append('file', file.file)  // 通过append向form对象添加数据
      param.append('userId', this.adminId)
      param.append('roleId', this.importform.roleId)
      this.axios
        .post("/userInfo/downloadInUserInfo.do",param)
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.importVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
          this.$refs.upload.clearFiles();
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleImport() {
      this.importVisible = true;
    },
    saveImport(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log(666)
          this.$refs.upload.submit();
        }
      });
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 1 个文件`);
    },
    handleDownload () {
      this.axios.post('/userInfo/downloadTemplet.do', {
        userId: this.adminId
      })
      .then((response) => {
          let result_data = response.data;
          window.location.href = result_data;
      })
      .catch(error => {
        this.$message({
          message: error.message,
          type: "error",
          duration: 1000
        });
      });
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.table-container {
  min-height: 400px;
}
</style>
