<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="SN码" prop="createCode">
            <el-input v-model="searchform.createCode" placeholder="请输入SN码" class="handle-input" ></el-input>
          </el-form-item>
          <el-form-item label="创建时间">
            <el-form-item prop="startTime">
              <el-date-picker
                v-model="searchform.startTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="开始时间"
              ></el-date-picker>
            </el-form-item>
            <el-form-item prop="endTime">
              <el-date-picker
                v-model="searchform.endTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="结束时间"
              ></el-date-picker>
            </el-form-item>
          </el-form-item>
          <el-button type="primary" icon="search" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-container">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" @click="handleTdAdd">添加通道</el-button>
        <el-button type="primary" @click="handleAdd">添加设备</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="createCode" label="SN码" width="200"></el-table-column>
        <el-table-column prop="typeName" label="型号" width="200"></el-table-column>
        <el-table-column prop="passWayName" label="通道" width="120"></el-table-column>
        <el-table-column prop="createName" label="创建人" width="120"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" sortable width="200"></el-table-column>
        <el-table-column label="操作" width="200" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-delete"
              class="red"
              @click="handleDel(scope.$index, scope.row)"
            >解绑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加活动 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="30%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="addrules">
        <el-form-item label="设备序列号" prop="createCode">
          <el-input v-model="addform.createCode" placeholder="请输入设备序列号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="绑定通道" prop="passWay">
          <el-select v-model="addform.passWay" placeholder="请选择绑定通道" class="handle-input">
            <el-option
              :key="item.id"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in tdData"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="30%">
      <el-form ref="editform" :model="editform" label-width="100px" :rules="editrules">
        <el-form-item label="绑定通道" prop="passWay">
          <el-select v-model="editform.passWay" placeholder="请选择绑定通道" class="handle-input">
            <el-option
              :key="item.id"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in tdData"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 添加通道 -->
    <el-dialog title="添加通道" :visible.sync="addTdVisible" width="30%" center>
      <el-tag
        v-for="(tag, index) in dynamicTags"
        :key="index"
        type="success"
        closable
        :disable-transitions= "true"
        @close="handleClose(tag)"
      >{{tag.name}}</el-tag>
      <el-input
        class="input-new-tag"
        v-if="inputVisible"
        v-model="inputValue"
        ref="saveTagInput"
        size="small"
        @keyup.enter.native="handleInputConfirm"
        @blur="handleInputConfirm"
      ></el-input>
      <el-button v-else class="button-new-tag" size="small" @click="showInput">
        <i class="el-icon-circle-plus-outline"></i>添加通道
      </el-button>
    </el-dialog>
    <!-- 删除通道 -->
    <el-dialog title="提示" :visible.sync="delTdVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delTdVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteTdRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 解绑设备 -->
    <el-dialog title="解绑设备" :visible.sync="delVisible" width="40%" @close="closeDialog('delform')">
      <el-form :model="delform" label-width="100px" ref="delform" :rules="delrules">
        <el-form-item label="管理员密码" prop="passWord">
          <el-input v-model="delform.passWord" type="password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-tag type="warning" :disable-transitions= "true">＊您正在解除设备绑定，解绑将删除该设备相关数据，数据不可恢复</el-tag>
        </el-form-item>
      </el-form>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow('delform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 确认 -->
    <el-dialog title="确认序列号" :visible.sync="sureVisible" width="40%">
      <el-form label-width="100px">
        <el-form-item label="确认序列号">
          <el-input v-model="addform.createCode" autocomplete="off" readonly :disabled="true"></el-input>
        </el-form-item>
        <el-form-item>
          <el-tag type="warning" :disable-transitions= "true">＊请再次确认您输入的序列号</el-tag>
        </el-form-item>
      </el-form>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="sureVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveSure('addform')">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    var checkXlh = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("设备序列号不能为空"));
      }
      this.axios
        .post("/equipment/CheckCreateCode.do", {
          createCode: value
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) !== 1) {
            callback(new Error(result_data.msg));
          } else {
            callback();
          }
        })
        .catch(error => {
          callback(new Error("网络错误，请稍后重试"));
        });
    };
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        createCode: "",
        startTime: "",
        endTime: ""
      },
      searchResult: {
        createCode: "",
        startTime: "",
        endTime: ""
      },
      editVisible: false,
      addVisible: false,
      addform: {
        createCode: "",
        isHand: 1,
        isCode: 0,
        isPassword: 0,
        passWord: "",
        isUse: 1,
        passWay: "",
        voiceType: ""
      },
      addrules: {
        createCode: [{ required: true, validator: checkXlh, trigger: "blur"}],
        passWay: [
          { required: true, message: "选择通道", trigger: "change" }
        ]
      },
      editform: {
        isHand: 1,
        isCode: 0,
        isPassword: 0,
        passWord: "",
        isUse: 1,
        passWay: "",
        voiceType: ""
      },
      editrules: {
        passWay: [
          { required: true, message: "选择通道", trigger: "change" }
        ]
      },
      delVisible: false,
      rowId: 0,
      addTdVisible: false,
      dynamicTags: [],
      delTdVisible: false,
      inputVisible: false,
      inputValue: "",
      voiceData: [],
      tdData: [],
      delform: {
        passWord: ""
      },
      delrules: {
        passWord: [
          { required: true, message: "请输入管理员密码", trigger: "blur" }
        ]
      },
      sureVisible: false,
      sureform: {
        createCode: ''
      }
    };
  },
  computed: {
    ...mapGetters(["adminId", "companyId"]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.musicList();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      if (this.searchform.endTime &&  this.searchform.startTime) {
        let start = Date.parse(new Date(this.searchform.startTime));
        let end = Date.parse(new Date(this.searchform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
          return 
        }
      }
      this.page = 1;
      this.searchResult = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchResult = this.searchform;
    },
    submitData() {
      this.axios
        .post("/equipment/SelectAll.do", {
          page: this.page,
          limit: this.limit,
          companyId: this.companyId,
          createCode: this.searchResult.createCode,
          beginTime: this.searchResult.startTime,
          endTime: this.searchResult.endTime
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAdd() {
      //新增型号
      this.addVisible = true;
      this.tdList(0);
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.sureVisible = true;
        }
      });
    },
    saveSure (formName) {
      //新增设备
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.addform.isPassword === 1 && this.addform.passWord === "") {
            this.$message({
              message: "密码设置不能为空",
              type: "error",
              duration: 1000
            });
            return;
          }
          this.axios
            .post("/equipment/Insert.do", {
              createCode: this.addform.createCode,
              isHand: this.addform.isHand,
              isCode: this.addform.isCode,
              isPassword: this.addform.isPassword,
              passWord: this.addform.passWord,
              isUse: this.addform.isUse,
              passWay: this.addform.passWay,
              voiceType: this.addform.voiceType,
              companyId: this.companyId,
              userId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                this.addVisible = false;
                this.sureVisible = false;
                setTimeout(() => {
                  this.submitData();
                }, 50);
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
    },
    handleEdit(index, row) {
      //编辑
      this.tdList(row.passWay);
      this.editform.passWay = row.passWay === 0 ? "" : row.passWay
      this.rowId = row.id;
      this.editVisible = true;
    },
    saveEdit(formName) {
      // 保存编辑
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.editform.isPassword === 1 && this.editform.passWord === "") {
            this.$message({
              message: "密码设置不能为空",
              type: "error",
              duration: 1000
            });
            return;
          }
          this.axios
            .post("/equipment/Update.do", {
              id: this.rowId,
              isHand: this.editform.isHand,
              isCode: this.editform.isCode,
              isPassword: this.editform.isPassword,
              passWord: this.editform.passWord,
              isUse: this.editform.isUse,
              passWay: this.editform.passWay,
              voiceType: this.editform.voiceType,
              userId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                this.editVisible = false;
                setTimeout(() => {
                  this.submitData();
                }, 50);
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    changeStatus(row) {
      // 保存编辑
      this.axios
        .post("/equipment/Update.do", {
          id: row.id,
          isUse: row.isUse,
          userId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
          setTimeout(() => {
            this.submitData();
          }, 50);
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleDel(index, row) {
      this.rowId = row.id;
      this.delVisible = true;
    },
    deleteRow(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/equipment/Delete.do", {
              id: this.rowId,
              userId: this.adminId,
              passWord: this.delform.passWord
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.delVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleClose(tag) {
      //删除通道
      this.delTdVisible = true;
      this.tagId = tag.id;
    },
    deleteTdRow() {
      //确认删除
      this.axios
        .post("/passWay/Delete.do", {
          id: this.tagId,
          userId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            this.delTdVisible = false;
            setTimeout(() => {
              this.tdAllList();
            }, 50);
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleTdAdd() {
      //查看设备型号
      this.addTdVisible = true;
      this.tdAllList();
    },
    tdAllList() {
      //设备型号列表
      this.axios
        .post("/passWay/SelectAll.do", {
          companyId: this.companyId
        })
        .then(response => {
          this.dynamicTags = response.data;
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    tdList(passWay) {
      //设备型号未使用列表
      this.axios
        .post("/passWay/SelectFree.do", {
          companyId: this.companyId,
          passWay: passWay
        })
        .then(response => {
          this.tdData = response.data;
          this.tdEditData = response.data;
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    musicList() {
      //音频下拉
      this.axios
        .post("/music/DropList.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 0) {
            this.voiceData = result_data.data;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        //保存设备型号
        this.axios
          .post("/passWay/Insert.do", {
            name: inputValue,
            userId: this.adminId,
            companyId: this.companyId
          })
          .then(response => {
            let result_data = response.data;
            if (parseInt(result_data.status) === 1) {
              this.$message({
                message: result_data.msg,
                type: "success",
                duration: 1000
              });
              setTimeout(() => {
                this.tdAllList();
              }, 50);
            } else {
              this.$message({
                message: result_data.msg,
                type: "error",
                duration: 1000
              });
            }
          })
          .catch(error => {
            this.$message({
              message: error.message,
              type: "error",
              duration: 1000
            });
          });
      }
      this.inputVisible = false;
      this.inputValue = "";
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.el-tag + .el-tag {
  margin: 15px 10px 0px;
}
.button-new-tag {
  margin: 15px 10px 0px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.table-container {
  min-height: 400px;
}
</style>
