<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform"  ref="searchform" class="search-form" :inline="true">
            <el-form-item label="通行人员姓名" prop="name">
              <el-input v-model="searchform.name" placeholder="请输入通行人员" class="handle-input"></el-input>
            </el-form-item>
            <el-form-item label="角色" prop="roleId">
              <el-select v-model="searchform.roleId" placeholder="请选择角色" class="handle-input">
                <el-option
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                  v-for="(item, index) in roleData"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="通行时间" style="margin-bottom: 0">
              <el-form-item prop="startTime">
                <el-date-picker
                  v-model="searchform.startTime"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="开始时间"
                ></el-date-picker>
              </el-form-item>
              <el-form-item prop="endTime">
                <el-date-picker
                  v-model="searchform.endTime"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="结束时间"
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
        </el-form>
        <div style="text-align: right;margin-bottom:18px">
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </div>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change ="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" @click="handleExport">导出日志</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
      >
        <el-table-column prop="id" label="ID"  width="100"></el-table-column>
        <el-table-column prop="passTime" label="通行时间" sortable min-width="200"></el-table-column>
        <el-table-column prop="userName" label="通行人" width="150"></el-table-column>
        <el-table-column prop="roleName" label="角色" width="150"></el-table-column>
        <el-table-column prop="passWayName" label="通道" width="150"></el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: "",
        startTime: "",
        endTime: "",
        roleId: 0
      },
      searchResult: {
        name: "",
        startTime: "",
        endTime: "",
        roleId: 0
      },
      roleData: []
    };
  },
  computed: {
    ...mapGetters([
      'adminId',
      'companyId'
    ]),
    limitPage () {
      return parseInt(this.limit)
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.roleList();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit () {
      //改变页数
       this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      if (this.searchform.endTime &&  this.searchform.startTime) {
        let start = Date.parse(new Date(this.searchform.startTime));
        let end = Date.parse(new Date(this.searchform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
          return 
        }
      }
      this.page = 1;
      this.searchResult = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchResult = this.searchform;
    },
    submitData () {
      this.axios
        .post("/passLog/SelectAll.do", {
          page: this.page,
          limit: this.limit,
          name: this.searchResult.name,
          beginTime: this.searchResult.startTime,
          endTime: this.searchResult.endTime,
          companyId: this.companyId,
          roleId: this.searchResult.roleId,
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000,
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleExport() {
      window.location.href =
      "/passLog/downloadPassLog.do?companyId=" +
      this.companyId +
      "&startTime=" +
      this.searchResult.startTime +
      "&endTime=" +
      this.searchResult.endTime +
      "&name=" +
      this.searchResult.name +
      "&roleId=" +
      this.searchResult.roleId +
      '&_time=' + (new Date()).getTime(); 
    },
    roleList() {
      this.axios
        .post("/roleInfo/DropListAll.do ", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          this.roleData = result_data;
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
    margin-right: 10px;
}
.table-search {
    padding: 30px 30px 10px;
}
.container-table {
  min-height: 440px;
}
</style>
