<template>
  <div class="demo-steps">
    <div class="source-title-back">
      <el-button type="primary" @click="goBack">返回</el-button>
    </div>
    <div class="source-title">
      <el-button type="info">门禁后台管理系统注册流程</el-button>
    </div>
    <div class="source">
      <el-steps :active="currentIndex" align-center>
        <el-step title="公司名称"></el-step>
        <el-step title="手机号码验证"></el-step>
        <el-step title="设置密码"></el-step>
        <el-step title="完成"></el-step>
      </el-steps>
    </div>
    <div class="source-contents">
      <el-form ref="form" :model="form" label-width="80px">
        <ul class="content-ul">
          <li class="content-li" v-show="currentIndex === 0">
            <el-form-item label="公司名称" prop="name">
                <el-input v-model="form.name" placeholder="请输入公司、单位、园区名称"></el-input>
            </el-form-item>
            <div class="content-li-inputs">
              <el-form-item label="用户名称" prop="userName">
                <el-input v-model="form.userName" placeholder="请输入用户名称"></el-input>
              </el-form-item>
            </div>
            <div class="content-li-buttons">
              <el-button-group>
                <el-button type="primary" @click="stepOne">
                  下一步
                  <i class="el-icon-arrow-right el-icon--right"></i>
                </el-button>
              </el-button-group>
            </div>
          </li>
          <li class="content-li" v-show="currentIndex === 1">
            <div class="content-li-inputs">
              <el-form-item label="手机号" prop="phone">
                <el-input v-model="form.phone" placeholder="请输入11位手机号">
                  <el-button
                    slot="append"
                    type="primary"
                    :disabled="disabledCodeBtn"
                    @click="postCode"
                    v-html="changeName"
                  ></el-button>
                </el-input>
              </el-form-item>
              <el-form-item label="验证码" prop="code">
                <el-input v-model="form.code" placeholder="请输入验证码"></el-input>
              </el-form-item>
            </div>
            <div class="content-li-buttons">
              <el-button-group>
                <el-button type="primary" icon="el-icon-arrow-left" @click="stepTwoPrev">上一步</el-button>
                <el-button type="primary" @click="stepTwoNext">
                  下一步
                  <i class="el-icon-arrow-right el-icon--right"></i>
                </el-button>
              </el-button-group>
            </div>
          </li>
          <li class="content-li" v-show="currentIndex === 2">
            <div class="content-li-inputs">
              <el-form-item label="密码" prop="passWord">
                <el-input v-model="form.passWord" type="password" placeholder="请输入密码"></el-input>
                <span class="li-inputs-tips">*密码为6-12位数字和字母组合</span>
              </el-form-item>
              <el-form-item label="确认密码" prop="repassWord">
                <el-input v-model="form.repassWord" type="password" placeholder="请确认密码"></el-input>
              </el-form-item>
            </div>
            <div class="content-li-buttons">
              <el-button-group>
                <el-button type="primary" icon="el-icon-arrow-left" @click="stepThreePrev">上一步</el-button>
                <el-button type="primary" @click="stepThreeNext">下一步
                  <i class="el-icon-arrow-right el-icon--right"></i>
                </el-button>
              </el-button-group>
            </div>
          </li>
          <li class="content-li" v-show="currentIndex === 3">
            <div class="content-li-inputs">
                <div class="li-inputs-icon">
                    <i class="el-icon-success"></i>
                    <span class="li-inputs-span">注册成功</span>
                </div>
            </div>
            <div class="content-li-buttons">
              <el-button-group>
                <el-button type="primary" @click="complete">完成</el-button>
              </el-button-group>
            </div>
          </li>
        </ul>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      disabledCodeBtn: false,
      codeTimer: null,
      codeCount: 60,
      changeName: "获取",
      currentIndex: 0,
      form: {
        name: "",
        phone: "",
        code: "",
        passWord: "",
        repassWord: "",
        userName: ""
      },
      rules: {
        name: [
          {
            required: true,
            message: "请输入公司、单位、园区名称",
            trigger: "blur"
          }
        ],
        phone: [
          { required: true, message: "请输入11位手机号", trigger: "blur" }
        ],
        code: [{ required: true, message: "请输入验证号", trigger: "blur" }],
        passWord: [{ required: true, message: "请输入密码", trigger: "blur" }],
        repassWord: [{ required: true, message: "请确认密码", trigger: "blur" }]
      }
    };
  },
  methods: {
    goBack () {
      this.$router.go(-1)
    },
    stepOne() {
      if (!this.form.name) {
        this.$message({
          message: "请输入公司、单位、园区名称",
          duration: 1000,
          type: "error"
        });
      } else if (!this.form.userName){
        this.$message({
          message: "请输入用户名称",
          duration: 1000,
          type: "error"
        });
      } else {
        this.currentIndex = 1;
      }
    },
    postCode() {
      this.form.code = "";
      const regPhone = /^1\d{10}$/;
      if (!regPhone.test(this.form.phone)) {
        this.$message({
          message: "手机号码无效",
          duration: 1000,
          type: "error"
        });
      } else {
        //获取验证码
        this.getCode();
      }
    },
    getCode() {
      this.axios
        .post("/admin/Send.do", {
          phone: this.form.phone
        })
        .then(response => {
          var result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            //验证码倒计时
            this.countDown();
          } else {
            //获取验证码失败
            this.$message({
              message: result_data.msg,
              duration: 1000,
              type: "error"
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            duration: 1000,
            type: "error"
          });
        });
    },
    countDown() {
      this.disabledCodeBtn = true;
      this.changeName = "已发送" + this.codeCount + "(s)";
      this.codeTimer = setInterval(() => {
        this.codeCount--;
        this.changeName = "已发送" + this.codeCount + "(s)";
        if (this.codeCount <= 0) {
          this.resetCode();
        }
      }, 1000);
    },
    resetCode() {
      clearInterval(this.codeTimer);
      this.codeCount = 60;
      this.changeName = "获取";
      this.disabledCodeBtn = false;
    },
    stepTwoPrev() {
      this.currentIndex = 0;
    },
    stepTwoNext() {
      const regPhone = /^1\d{10}$/;
      if (!regPhone.test(this.form.phone)) {
        this.$message({
          message: "手机号码无效",
          duration: 1000,
          type: "error"
        });
      } else if (!this.form.code) {
        this.$message({
          message: "请输入验证码",
          duration: 1000,
          type: "error"
        });
      } else {
        this.currentIndex = 2;
      }
    },
    stepThreePrev() {
      this.currentIndex = 1;
    },
    stepThreeNext() {
      let reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
      if (!reg.test(this.form.passWord)) {
        this.$message({
          message: "密码为6-12位数字和字母组合",
          duration: 1000,
          type: "error"
        });
      } else if (this.form.passWord !== this.form.repassWord) {
        this.$message({
          message: "两次输入的密码不一致",
          duration: 1000,
          type: "error"
        });
      } else {
        this.submitData()
      }
    },
    submitData() {
      this.axios
        .post("/admin/Register.do", {
          name: this.form.name,
          phone:  this.form.phone,
          code: this.form.code,
          passWord: this.form.passWord,
          userName: this.form.userName
        })
        .then(response => {
          let result_data = response.data;
          if (result_data.status) {
            let data = result_data.data;
            this.currentIndex = 3;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000,
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    complete () {
      this.$router.go(-1)
    }
  }
};
</script>


<style lang="scss">
.demo-steps {
  width: 870px;
  margin: 100px auto 0;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 24px 24px 50px;
  .source-title {
    text-align: center;
    margin-bottom: 50px;
  }
  .source {
    margin-bottom: 100px;
  }
  .source-contents {
    width: 100%;
    .content-ul {
      width: 500px;
      margin: 0 auto;
      .content-li {
        .content-li-inputs {
          margin-bottom: 50px;
          .li-inputs-icon {
            width: 100%;
            font-size: 50px;
            color: #409EFF;
            text-align: center;
          }
          .li-inputs-span {
              display: block;
              height: 30px;
              line-height: 30px;
              text-align: center;
              font-size: 22px;
          }
          .li-inputs-tips {
            color: #F56C6C;
          }
        }
        .content-li-buttons {
          text-align: center;
        }
      }
    }
  }
}
</style>
