<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container ">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="角色名称" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入角色名称" class="handle-input"></el-input>
          </el-form-item>
          <el-button type="primary" icon="search" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" @click="handleAdd">添加角色</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
        @selection-change="handleSelectionChange"
      >
        <el-table-column prop="id" label="ID"  width="100"></el-table-column>
        <el-table-column prop="roleName" label="角色" width="200"></el-table-column>
        <el-table-column prop="createName" label="创建人" width="120"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" sortable min-width="200"></el-table-column>
        <el-table-column label="操作" width="250" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-setting"
              @click="handleSetVisitor(scope.$index, scope.row)"
              v-show="scope.row.isVisitor === 1"
            >通行设置</el-button>
            <el-button
              type="text"
              icon="el-icon-setting"
              @click="handleSet(scope.$index, scope.row)"
              v-show="scope.row.isVisitor === 0"
            >通行设置</el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
              v-show="scope.row.isVisitor === 0"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-delete"
              class="red"
              @click="handleDel(scope.$index, scope.row)"
              v-show="scope.row.isVisitor === 0"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加角色 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="40%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="addrules">
        <el-form-item label="添加角色" prop="roleName">
          <el-input v-model="addform.roleName" placeholder="请添加角色" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="权限菜单" v-show="false">
          <el-tree
            :data="addTreeData"
            show-checkbox
            default-expand-all
            node-key="id"
            ref="addtree"
            highlight-current
            :props="defaultProps">
          </el-tree>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="40%" @close="closeDialog('editform')">
      <el-form ref="editform" :model="editform" label-width="100px"  :rules="editrules">
        <el-form-item label="请添加角色" prop="roleName" required>
          <el-input v-model="editform.roleName" placeholder="请添加角色" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="权限菜单" v-show="false">
          <el-tree
            :data="editTreeData"
            show-checkbox
            default-expand-all
            :default-checked-keys="checkedTreeData"
            node-key="id"
            ref="edittree"
            highlight-current
            :props="defaultProps">
          </el-tree>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 通行设置 -->
    <el-dialog title="通行设置" :visible.sync="setVisible" width="50%" @close="closeDialog('setform')">
      <el-form ref="setform" :model="setform" label-width="100px" :rules="setrules">
        <el-form-item label="设置时间">
          <el-row>
            <el-col :span="9">
              <el-form-item prop="startTime">
                <el-date-picker
                  class="handle-input"
                  v-model="setform.startTime"
                  type="datetime"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="起始时间"
                ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="9">
              <el-form-item prop="endTime">
                <el-date-picker
                  class="handle-input"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  v-model="setform.endTime"
                  type="datetime"
                  placeholder="结束时间"
                ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-button type="primary" @click="setTime">添 加</el-button>
            </el-col>
          </el-row>
        </el-form-item>
      </el-form>
      <el-tabs type="border-card" v-model="passWayId">
        <el-tab-pane  
        v-for="(item, index) in timeData" 
        :name="index+''"
        :label="item.passWayName"
        :key="index"
      >
          <el-tag
            :key="index"
            v-for="(tag, index) in item.passTimeList"
            closable
            @close="handleClose(index)">
            {{tag.replace(/\,/g, '-')}}
          </el-tag>
        </el-tab-pane>
      </el-tabs>
      <span slot="footer" class="dialog-footer">
        <el-button @click="setVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveSet">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 访客通行设置 -->
    <el-dialog title="通行设置" :visible.sync="visitorVisible" width="50%" @close="closeDialog('visitorform')">
      <el-form ref="visitorform" :model="visitorform" label-width="100px" :rules="visitorrules">
        <el-form-item label="设置时间">
          <el-row>
            <el-col :span="9">
              <el-form-item prop="startTime">
                <el-time-picker
                  class="handle-input"
                  arrow-control
                  v-model="visitorform.startTime"
                  value-format="HH:mm:ss"
                  placeholder="起始时间"
                ></el-time-picker>
              </el-form-item>
            </el-col>
            <el-col :span="9">
              <el-form-item prop="endTime">
                <el-time-picker
                  class="handle-input"
                  arrow-control
                  value-format="HH:mm:ss"
                  v-model="visitorform.endTime"
                  placeholder="结束时间"
                ></el-time-picker>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-button type="primary" @click="visitorTime">添 加</el-button>
            </el-col>
          </el-row>
        </el-form-item>
      </el-form>
      <el-tabs type="border-card" v-model="passWayId">
        <el-tab-pane  
        v-for="(item, index) in timeDataVisitor" 
        :name="index+''"
        :label="item.passWayName"
        :key="index"
      >
          <el-tag
            :key="index"
            v-for="(tag, index) in item.passTimeList"
            closable
            @close="handleCloseVisitor(index)">
            {{tag.replace(/\,/g, '-')}}
          </el-tag>
        </el-tab-pane>
      </el-tabs>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visitorVisible = false">取 消</el-button>
        <el-button type="primary" @click="visitorSet">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      timeDatatest: [{
        passWayId: 1,
        passWayName: '东门',
        passTimeList: [
          '2018-12-01 16:32:00,2018-12-01 16:33:00',
          '2018-12-02 16:32:00,2018-12-02 16:33:00'
        ]
      },{
        passWayId: 2,
        passWayName: '西门',
        passTimeList: [
          '2019-12-01 16:32:00,2019-12-01 16:33:00',
          '2019-12-02 16:32:00,2019-12-02 16:33:00'
        ]
      }],
      passWayId: "0",
      timeData: [],
      setVisible: false,
      setform: {
        startTime: "",
        endTime: ""
      },
      setrules: {
        startTime: [{ required: true, message: "起始时间不能为空", trigger: "change" }],
      },
      timeDataVisitor: [],
      visitorVisible: false,
      visitorform: {
        startTime: "",
        endTime: ""
      },
      visitorrules: {
        startTime: [{ required: true, message: "起始时间不能为空", trigger: "change" }],
      },
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: "",
      },
      searchResult: {
        name: "",
      },
      editVisible: false,
      addVisible: false,
      addform: {
        isUse: 1,
        roleName: "",
        powerId: ""
      },
      addrules: {
        roleName: [{ required: true, message: "角色名称不能为空", trigger: "blur" }],
      },
      editform: {
        isUse: 1,
        roleName: "",
        powerId: ""
      },
      editrules: {
        roleName: [{ required: true, message: "角色名称不能为空", trigger: "blur" }],
      },
      delVisible: false,
      rowId: 0,
      addTreeData: [],
      editTreeData: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      checkedTreeData: []
    };
  },
  computed: {
    ...mapGetters([
      'adminId',
      'companyId'
    ]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
    }
  },
  methods: {
    handleSelectionChange(val) {},
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      this.page = 1;
      this.searchResult = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchResult = this.searchform;
    },
    submitData() {
      this.axios
        .post("/roleInfo/SelectAll.do", {
          companyId: this.companyId,
          page: this.page,
          limit: this.limit,
          name: this.searchResult.name
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    goMenuList () {
      this.axios
        .post("/power/SelectAll.do", {
          userId: this.adminId,
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.addTreeData = result_data.data;
            this.editTreeData = result_data.data;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAdd() {
      this.goMenuList();
      this.addVisible = true;
    },
    saveAdd(formName) {
      let powerId = this.$refs.addtree.getCheckedKeys();
      /*
      if (powerId[0] !== 1) {
        this.$message({
          message: '系统首页为必选项',
          type: "error",
          duration: 1000
        });
        return
      }
      */
      if (powerId.length > 0) {
        this.addform.powerId = powerId.join(',');
      } else {
        this.addform.powerId = ""
      }
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/roleInfo/Insert.do", {
              isUse: this.addform.isUse,
              roleName: this.addform.roleName,
              userId: this.adminId,
              powerId: this.addform.powerId,
              companyId: this.companyId,
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      let powerId = row.powerId.split(',');
      this.checkedTreeData = powerId
      this.editform.roleName = row.roleName
      this.editform.isUse = row.isUse
      this.editform.powerId = row.powerId
      this.rowId = row.id;
      this.goMenuList();
      this.editVisible = true;
    },
    saveEdit(formName) {
      let powerId = this.$refs.edittree.getCheckedKeys();
      /*
      if (powerId[0] !== 1) {
        this.$message({
          message: '系统首页为必选项',
          type: "error",
          duration: 1000
        });
        return
      }
      */
      if (powerId.length > 0) {
        this.editform.powerId = powerId.join(',');
      } else {
        this.editform.powerId = ""
      }
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/roleInfo/Update.do", {
              id: this.rowId,
              userId: this.adminId,
              companyId: this.companyId,
              isUse: this.editform.isUse,
              roleName: this.editform.roleName,
              powerId: this.editform.powerId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog (formName) {
      this.$refs[formName].resetFields();
      this.timeData = [];
      this.passWayId = "0"
      this.timeDataVisitor = [];
    },
    handleDel(index, row) {
      this.rowId = row.id;
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/roleInfo/Delete.do", {
          id: this.rowId,
          userId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleSet(index, row) {
      this.rowId = row.id;
      this.setVisible = true;
      this.axios
        .post("/rolePass/SelectPassByRole.do", {
          roleId: this.rowId,
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          this.timeData = result_data;
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    setTime () {
      if (this.timeData.length <= 0) {
        this.$message({
          message: '请先在设备管理中添加通道',
          type: "error",
          duration: 1000
        });
      } else if (!this.setform.startTime && !this.setform.endTime) {
        this.$message({
          message: '请选择一个完整时间段',
          type: "error",
          duration: 1000
        });
      } else {
        let start = Date.parse(new Date(this.setform.startTime));
        let end = Date.parse(new Date(this.setform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
        } else {
          let str = this.setform.startTime + ',' + this.setform.endTime;
          let index = parseInt(this.passWayId);
          let timeList = this.timeData[index].passTimeList;
          timeList.push(str);
          //this.$set(this.timeData, 'passTimeList', timeList)
        }
      }
    },
    handleClose(timeIndex) {
      let index = parseInt(this.passWayId);
      let timeList = this.timeData[index].passTimeList;
      timeList.splice(timeIndex, 1);
    },
    saveSet () {
      if (this.timeData.length > 0) {
        this.axios
        .post("/rolePass/InsertPassByRole.do", {
          roleId: this.rowId,
          rolePassWayList: JSON.stringify(this.timeData)
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            this.setVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
      } else {
        this.setVisible = false;
      }
    },
    handleSetVisitor(index, row) {
      this.rowId = row.id;
      this.visitorVisible = true;
      this.axios
        .post("/home/GetVisitorTime.do", {
          roleId: this.rowId,
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          this.timeDataVisitor = result_data;
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    visitorTime () {
      if (this.timeDataVisitor.length <= 0) {
        this.$message({
          message: '请先在设备管理中添加通道',
          type: "error",
          duration: 1000
        });
      } else if (!this.visitorform.startTime && !this.visitorform.endTime) {
        this.$message({
          message: '请选择一个完整时间段',
          type: "error",
          duration: 1000
        });
      } else {
        let start = Date.parse(new Date(this.visitorform.startTime));
        let end = Date.parse(new Date(this.visitorform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
        } else {
          let str = this.visitorform.startTime + ',' + this.visitorform.endTime;
          let index = parseInt(this.passWayId);
          let timeList = this.timeDataVisitor[index].passTimeList;
          if (timeList.length > 0) {
            timeList.splice(0, 1, str)
          } else {
            timeList.push(str)
          }
        }
      }
    },
    handleCloseVisitor(timeIndex) {
      let index = parseInt(this.passWayId);
      let timeList = this.timeDataVisitor[index].passTimeList;
      timeList.splice(timeIndex, 1);
    },
    visitorSet () {
      console.log(this.timeDataVisitor)
      if (this.timeDataVisitor.length > 0) {
        this.axios
        .post("/home/SetVisitorTime.do", {
          adminId: this.adminId,
          rolePassWayList: JSON.stringify(this.timeDataVisitor)
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            this.visitorVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
      } else {
        this.visitorVisible = false;
      }
    },
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.el-tabs {
  min-height: 200px;
}
.el-tag + .el-tag {
  margin: 15px 10px 0px;
}
.container-table {
  min-height: 440px;
}
</style>
