<template>
  <div class="wrapper">
    <v-head></v-head>
    <v-sidebar></v-sidebar>
    <div class="content-box" :class="{'content-collapse':collapse}">
      <v-tags></v-tags>
      <div class="content">
        <transition name="move" mode="out-in">
          <keep-alive :include="tagsList">
            <router-view></router-view>
          </keep-alive>
        </transition>
      </div>
    </div>
    <div class="plam-box" v-show="isOpen">
      <v-plam></v-plam>
    </div>
  </div>
</template>

<script>
import vHead from "./Header.vue";
import vSidebar from "./Sidebar.vue";
import vTags from "./Tags.vue";
import vPlam from "./Plam.vue";
import bus from "./bus";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tagsList: []
    };
  },
  components: {
    vHead,
    vSidebar,
    vTags,
    vPlam
  },
  computed: {
    ...mapGetters([
      'adminId',
      'companyId',
      'collapse',
      'isOpen'
    ])
  },
  created() {
    // 只有在标签页列表里的页面才使用keep-alive，即关闭标签之后就不保存到内存中了。
    bus.$on("tags", msg => {
      let arr = [];
      for (let i = 0, len = msg.length; i < len; i++) {
        msg[i].name && arr.push(msg[i].name);
      }
      this.tagsList = arr;
    });
    if (this.adminId) {
      this.gotMenuList()
    }
  },
  methods: {
    gotMenuList () {
        this.axios
        .post("/power/SelectPowerByUser.do", {
          userId: this.adminId,
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            let menus = result_data.data;
            this.$store.commit({
              type: 'menuList',
              menus: menus
            })
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    }
  }
};
</script>
<style>
.plam-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 33;
}
</style>
