<template>
  <div class="plam-page">
    <div class="plam" v-show="registResult.status === 0">
      <div class="plam-close" @click="closePlam">
        <i class="el-icon-error"></i>
      </div>
      <div class="plam-steps">
        <el-steps :active="registStatus.index" align-center>
          <el-step title="采集"></el-step>
          <el-step title="校验"></el-step>
          <el-step title="二次校验"></el-step>
          <el-step title="采集完成"></el-step>
        </el-steps>
      </div>
      <div class="plam-ani">
        <div class="ani-module">
          <span class="hand" :class="classHands"></span>
        </div>
      </div>
      <div class="plam-tips">{{registStatus.handTxt}}</div>
    </div>
    <div class="result-status" style="color: #67C23A;" v-show="registResult.status === 1">
      <div class="plam-close" @click="closePlam">
        <i class="el-icon-error"></i>
      </div>
      <div class="status-icon">
        <i class="el-icon-success"></i>
      </div>
      <div class="status-tips">
        <p>恭喜，注册成功</p>
      </div>
    </div>
    <div class="result-status"  style="color: #F56C6C;" v-show="registResult.status === 2" >
      <div class="plam-close" @click="closePlam">
        <i class="el-icon-error"></i>
      </div>
      <div class="status-icon">
        <i class="el-icon-error"></i>
      </div>
      <div class="status-tips">
        <p>抱歉，注册失败</p>
        <p class="reason">{{registResult.value}}</p>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data () {
    return {
      isClose: false,
      mesgTips: '请把手掌放置正确位置',
      lastStr: ''
    }
  },
  computed: {
    classHands () {
      return {
        'active': this.isClose
      }
    },
    ...mapGetters([
      'registResult',
      'registStatus'
    ])
  },
  watch:{
    'registStatus.handTxt': {
      handler (newValue, old) {
        if (newValue === "请放上手" || newValue === "请移开手") {
          if (newValue != this.lastStr) {
            switch (newValue) {
              case "请放上手":
                this.isClose = true;
                window.external.playMusic(3);
                break;
              case "请移开手":
                this.isClose = false;
                window.external.playMusic(4);
                break;
              default:
            }
          }
        }
        this.lastStr = newValue;
      },
      deep: true
    }
  },
  created () {
    //this.$store.state.softProgress = this.softProgress
  },
  methods: {
    softProgress(info) {
      if (info.handTxt == "请放上手" || info.handTxt == "请移开手") {
        if (info.handTxt != this.lastStr) {
          switch (info.handTxt) {
            case "请放上手":
              this.isClose = true;
              window.external.playMusic(3);
              break;
            case "请移开手":
              this.isClose = false;
              window.external.playMusic(4);
              break;
            default:
          }
        }
      }
      this.mesgTips = info.handTxt;
      this.lastStr = info.handTxt;
    },
    closePlam () {
      this.$store.commit({
        type: 'closePlam'
      })
    }
  }
}
</script>
<style lang="scss">
  .plam-page {
    width: 100%;
    height: 100%;
    position: relative;
    .result-status {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -291px;
      margin-left: -482px;
      width: 964px;
      height: 582px;
      background: #f4f6fc;
      border-radius: 20px;
      .status-icon {
        font-size: 80px;
        margin-top: 150px;
        margin-bottom: 50px;
      }
      .status-tips {
        font-size: 30px;
        font-weight: 700;
        .reason {
          font-size: 20px;
          font-weight: 500;
          margin-top: 20px;
          color: #000;
        }
      }
    }
    .plam {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -291px;
      margin-left: -482px;
      width: 964px;
      height: 582px;
      background-image: url('~@/assets/images/plam_bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      .plam-steps {
        margin-top: 100px;
        margin-bottom: 70px;
      }
      .plam-ani {
        height: 151px;
        margin-bottom: 60px;
        .ani-module {
          width: 115px;
          height: 151px;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url('~@/assets/images/module.png');
          position: relative;
          .hand {
            display: block;
            width: 107px;
            height: 158px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('~@/assets/images/hand.png');
            position: relative;
            z-index: 2;
            transition: all 0.8s ease-in-out 0.8s;
            transform: translateX(200px);
            opacity: 0;
            &.active {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
      .plam-tips {
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 18px;
      }
    }
    .plam-close {
      position: absolute;
      right: -20px;
      top: -50px;
      font-size: 30px;
      width: 30px;
      height: 30px;
      color: #fff;
    }
  }
</style>
