<template>
  <div class="sidebar">
    <el-menu
      class="sidebar-el-menu"
      :default-active="$route.fullPath"
      :collapse="collapse"
      background-color="#324157"
      text-color="#bfcbd9"
      active-text-color="#20a0ff"
      unique-opened
      router
      @select = "selectActive"
    >
      <template v-for="item in menus">
        <template v-if="item.children.length">
          <el-submenu :index="item.url" :key="item.id">
            <template slot="title">
              <i :class="item.icon"></i>
              <span slot="title">{{ item.name }}</span>
            </template>
            <template v-for="subItem in item.children">
              <el-submenu v-if="subItem.children.length" :index="subItem.url" :key="subItem.index">
                <template slot="title">{{ subItem.name }}</template>
                <el-menu-item
                  v-for=" threeItem in subItem.children"
                  :index="threeItem.url"
                  :key="threeItem.index"
                >{{ threeItem.name }}</el-menu-item>
              </el-submenu>
              <el-menu-item v-else :index="subItem.url" :key="subItem.url">{{ subItem.name }}</el-menu-item>
            </template>
          </el-submenu>
        </template>
        <template v-else>
          <el-menu-item :index="item.url" :key="item.url">
            <i :class="item.icon"></i>
            <span slot="title">{{ item.name }}</span>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          icon: "el-icon-lx-home",
          url: "/dashboard",
          name: "系统首页",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/product",
          name: "产品管理",
          children: []
          
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/company",
          name: "公司管理",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/activity",
          name: "活动管理",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/notice",
          name: "公告管理",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/equipment",
          name: "设备管理",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/role",
          name: "角色管理",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/employee",
          name: "人员管理",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/passlog",
          name: "通行日志",
          children: []
        },
        {
          icon: "el-icon-lx-cascades",
          url: "/dolog",
          name: "操作日志",
          children: []
        }       
      ]
    };
  },
  computed: {
     ...mapGetters([
      'adminId',
      'menus',
      'topath',
      'collapse'
    ])
  },
  created() {
    
  },
  methods: {
    selectActive (index, indexPath) {
      //console.log(index)
      //console.log(indexPath)
    }
  }
};
</script>

<style scoped>
.sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar-el-menu:not(.el-menu--collapse) {
  width: 250px;
}
.sidebar > ul {
  height: 100%;
}
</style>
