<template>
  <div class="soft">
    <!-- 掌静脉识别控件 -->
    <object
      id="captureActiveX"
      classid="clsid:6ee10383-aa59-41d7-853f-adf8baaa657f"
      width="0"
      height="0"
      ></object>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from '@/axios/http';
export default {
  name: 'soft',
  data () {
    return {}
  },
  computed: {
    ...mapGetters([
      'adminId',
      'againRegist',
      'activexObj'
    ])
  },
  created () {},
  mounted () {
      let activexObj = document.getElementById("captureActiveX");
      activexObj.initLibraryWithMode(1);
      activexObj.SetWindow(window);
      activexObj.showPalmActiveX(false);
      let that = this;
      that.$store.commit({
        type: 'activexObj',
        activexObj: activexObj
      })
      //错误信息
      window.reportError = function (value) {
        this.$alert('请尝试重新打开', '程序错误', {
          confirmButtonText: '确定',
          callback: action => {}
        });
      }
      //掌静脉验证
      window.capturePalmData = function (value) {
        that.$store.commit({
          type: 'capturePalmData',
          veinData: value
        })
       
      }
      //注册状态和提示文字（中间通用|分割）
      window.enrollStatus = function (value) {
        let result = value.split('|');
        let registStatus = {
          index: parseInt(result[0]),
          handTxt: result[1]
        }
        that.$store.commit({
          type: 'registStatus',
          registStatus: registStatus
        })
      }
      //注册获取到掌静脉数据
      window.enrollData = function (value) {
        that.$store.commit({
          type: 'enrollData',
          registData: value
        })
      }
      //掌静脉验证回调方法
      window.endCapture = function () {
        //监听重新采集
        if (that.againRegist) {
          activexObj.capturePalmData();//开始验证
          let value = {
            againRegist: false,
            plamStep: 1
          }
          this.$store.commit({
            type: 'changeStep',
            resetStep: value
          })
        }
      }
      //掌静脉注册回调方法
      window.endEnroll = function () {
        //监听重新采集
        if (that.againRegist) {
          activexObj.capturePalmData();//开始验证
          let value = {
            againRegist: false,
            plamStep: 1
          }
          this.$store.commit({
            type: 'changeStep',
            resetStep: value
          })
        }
      }
      //监听页面刷新
      window.onbeforeunload = function () {
        that.$store.commit('finishSoft')
      }
  },
  methods: {}
}
</script>

<style lang="scss">
.soft {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -9999;
}
</style>
