<template>
    <div id="app">
      <v-soft></v-soft>
      <router-view></router-view>
    </div>
</template>
<script>
import vSoft from "./components/common/Soft.vue";
export default {
  components: {
    vSoft
  },
}
</script>

<style>
    @import "../static/css/main.css";
    @import "../static/css/color-dark.css";     /*深色主题*/
    /*@import "../static/css/theme-green/color-green.css";   浅绿色主题*/
</style>